*{
    padding: 0%;
    margin: 0%;

}

body{
    width: 100%;
}

.background_header{
    background-color: black;
    height: 80px;
    width: 100%;
    display:inline-flex;
    justify-content:space-around;
    align-items: flex-start;
    box-sizing: border-box;
    
}

.cor_texto_header{
    color: white;
}

.espaco_back{
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-image: url(iss059e006521.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.Sub_texto{
    color: white;
    font-size: medium;
}