.background_header{
    background-color: black;
    height: 100%;
    width: 202vh;
    display:inline-flex;
    justify-content:space-around;
    align-items: flex-start;
    margin-bottom: 0px;
    
}

.cor_texto_header{
    color: white;
}

.espaco_back{
    width: 202vh;
    height: 80vh;
    display: block;
    background-image: url(iss059e006521.webp);
    background-repeat: no-repeat;
    background-size: 202vh 80vh;
    margin-top: 0px;
}

.div1{
    margin-top: 0px;
    margin-bottom: 0px;
}
