*{
    padding: 0%;
    margin: 0%;

}

body{
    width: 100%;
}

.background_header{
    background-color: black;
    height: 80px;
    width: 100%;
    display:inline-flex;
    justify-content:space-around;
    align-items: flex-start;
    box-sizing: border-box;
    
}

.cor_branca{
    color: white;
    margin-top: 20px;
    
}

.espaco_back{
    width: 100vw;
    height: 40vh;
    display: inline-block;
    background-image: url(ceu_estrelado.avif);
    background-repeat: no-repeat;
    background-size: 100vw 30vh;
    
    
}
.Sub_texto{
    color: white;
    font-size:25px;
    line-height: 25px;
}

.button{
    width: 200px;
    height: 40px;    
}



.titulo_fundo_branco{
    color: black;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 50px;
    font-weight: bold;
}